BODY {
	SCROLLBAR-ARROW-COLOR: #02338a;
	SCROLLBAR-FACE-COLOR: #2b73f1;
	MARGIN: 0px;
	SCROLLBAR-DARKSHADOW-COLOR: #0650d2;
	FONT: 9pt ו;
	BACKGROUND: #0650d2;
	SCROLLBAR-HIGHLIGHT-COLOR: #0650d2;
	SCROLLBAR-SHADOW-COLOR: #449ae8;
	SCROLLBAR-TRACK-COLOR: #0650d2;
	TEXT-DECORATION: none;
	SCROLLBAR-3DLIGHT-COLOR: #449ae8
}

TABLE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px
}

TD {
	FONT: 12px ו
}

IMG {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	VERTICAL-ALIGN: bottom;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px
}

A {
	FONT: 12px ו;
	COLOR: #000000;
	TEXT-DECORATION: none
}

A:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: #000000
}

.sec_menu {
	BORDER-BOTTOM: #ffffff 1px solid;
	TEXT-ALIGN: left;
	BORDER-LEFT: #ffffff 1px solid;
	BACKGROUND: #d4ecf5;
	OVERFLOW: hidden
}

.menu_title {
	
}

.menu_title SPAN {
	POSITION: relative;
	COLOR: #0f42a6;
	TOP: 2px;
	FONT-WEIGHT: bold;
	LEFT: 8px
}

.menu_title2 {
	
}

.menu_title2 SPAN {
	POSITION: relative;
	COLOR: #cc0000;
	TOP: 2px;
	FONT-WEIGHT: bold;
	LEFT: 8px
}

.Glow {
	FILTER: Glow(Color = #ffffff, Strength = 1)
		dropshadow(Color = #ffffff, OffX = 0, OffY = 1,);
	MARGIN-LEFT: 10px
}

.font14 {
	LINE-HEIGHT: 30px;
	HEIGHT: 30px;
	FONT-SIZE: 14px
}

.font14 A {
	LINE-HEIGHT: 30px;
	HEIGHT: 30px;
	FONT-SIZE: 14px
}

.pic IMG {
	BORDER-BOTTOM: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	PADDING-BOTTOM: 4px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #666666 1px solid;
	BORDER-RIGHT: #666666 1px solid;
	PADDING-TOP: 4px
}

.pic A {
	LINE-HEIGHT: 25px
}